/*
Colors:
	Body 		: #333
	Headers 	: #2B2D42
	Primary 	: #D10024
	Dark 		: #15161D ##1E1F29
    Grey 		: #E4E7ED #FBFBFC #8D99AE #B9BABC
    secondary-white :#eeeeee
        border: 1px solid rgba(0, 0, 0, .125);
 */
 *{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

    box-sizing: border-box;
}
body{
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   color: #333;
}
.logo{
width: 130px;
}
#top-header{
background-color: #1E1F29;
font-size: 12px;
display: flex;
align-items: center;


}

#bottom-header{
   position: sticky;
   position: -webkit-sticky;
   top: 0; /* required */
}
.container{
   display: flex;
   margin-left:170px;
   margin-right:170px;
        
   justify-content: space-between;
   align-items: center;
   align-content: center;
   width: 100%;
}
ul{
   display: flex;
   margin: 7px;
 list-style-type: none;  
 justify-content: space-between;
 
}
li{
   margin-left: 10px;
   margin-right: 10px;
  
}
a{
   text-decoration: none;
   color:#FFF ;
}
.fa{
   color:#D10024;
}
#main-header{
   background-color:#15161D;
height: 110px;
display: flex;
align-items: center;
}

.header-search {
   padding: 15px 0px;
 }
 
 .header-search form {
   position: relative;
 }
 
 .header-search form .input-select {
   margin-right: -4px;
   border-radius: 50px 0px 0px 50px;
 }
 
 .header-search form .input {
   width: calc(100% - 260px);
   margin-right: -4px;
 }
 
 .header-search form .search-btn {
   height: 50px;
   width: 100px;
   background: #D10024;
   color: #FFF;
   font-weight: 700;
   border: none;
   border-radius: 0px 50px 50px 0px;
 }
 .input {
   height: 50px;
   padding: 0px 15px;
   border: 1px solid #E4E7ED;
   background-color: #FFF;
   width: 100%;
}
.input-select {
   padding: 0px 15px;
   background: #FFF;
   border: 1px solid #E4E7ED;
   height: 50px;
}
.header-search form .input-select {
   margin-right: -4px;
   border-radius: 50px 0px 0px 50px;
}
.input-select {
   padding: 0px 15px;
   background: #FFF;
   border: 1px solid #E4E7ED;
   height: 50px;
}
button, input, select, textarea {
   font-family: inherit;
   font-size: 15px;
   line-height: inherit;
}
.header-search form .search-btn {
   height: 50px;
   width: 100px;
   background: #D10024;
   color: #FFF;
   font-weight: 700;
   border: none;
   border-radius: 0px 40px 40px 0px;
}
#bottom-header{
   border-top: 2.5px solid #D10024;
   border-bottom: 2.5px solid grey;
font-size: 16px;
       background: #FFF;
     height: 55px;  
     color: #333;  
     display: flex;
     margin: -5px;
     z-index: 5;
}
.main-nav {
       align-items: center;
       
display: flex;}

.main-nav li a {
   color:#15161D;
   font-size: 14px;
   height: 80px;
   margin: 10px;
font-weight: 500;}
.main-nav li a:hover{
   color:#15161D;
   border-bottom: 2.5px solid #15161D;
}
.active{
border-bottom: 2.5px solid #15161D;
}
#footer{
   background-color: #1E1F29;
   height: 300px;
   border-top:2px solid #D10024 ;
   display: flex;
      
   justify-content: space-between;
}
.footer{
  
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   color:#B9BABC;
   text-align: left;
   margin: 30px 0px;
   width: 33%;
   height: 80%;
}
.footer-links{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.footer-links li{
   margin: 10px;
}
.footer-title{
   color: #FFF;
   text-transform: uppercase;
   font-size: 18px;
   margin: 0px 0px 10px;
}
.footer p{
   margin-left: 10px;
}
.articles-list{
   display:grid;  grid-template-columns: auto auto auto;
   margin: 20px 220px;
   
}
.product-container{
    text-align: center;
   height: 400px;
   width: 275px;
   border: 2px solid #ddd;
   margin: 40px;
padding: 20px;    transition: 0.2s;
   position: relative;
   
}
.product-container img{
   height: 70%;
}
.product-container-content{
   height: 20%;
   display:flex;
   flex-direction: column;
   justify-content: space-around;
}
.text {
   position: relative;
   border: 2px solid transparent;
   height: 40px;
   padding: 0 30px;
   font-size: 12px;
   background-color: #ef233c;
   color: #FFF;
   text-transform: uppercase;
   font-weight: 700;
   border-radius: 40px;
   -webkit-transition: 0.2s all;
   transition: 0.2s all;

}
 
.product-container:hover{
   border: 2px solid #D10024;
}
.product-container:hover img {
   opacity: 0.3;
 }
 .product-container:hover .middle {
   opacity: 1;
 }
img{
   opacity: 1;
   display: block;
   width: 100%;
   height: auto;
   transition: .5s ease;
   backface-visibility: hidden;
}
.middle {
   transition: .5s ease;
   opacity: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   text-align: center;
   width: 60%;
 }
 
p{
   text-transform: uppercase;
   font-size: 14px;
   color:#8D99AE;
}
h3{
   color: #2B2D42;
   font-weight: 700;
}
h2{
   font-weight: 700;
   font-size: 18px;
   color: #D10024;
}
#panier{
   height: fit-content;
   display: flex;
   padding: 30px;
   
   
}
.right-container{
   
   height: 250px;
   width: 35%; 
margin: 0 20px;
border: 1px solid rgba(0, 0, 0, .125);
background-color: #FFF;
display:flex;flex-direction:column;justify-content:space-between;
padding: 10px;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}
.right-container h1 {
   font-size: 20px;
}
.left-container{
   height: fit-content;
   
   width: 65%;
   margin: 0 20px;

   background-color: #FFF;
       border: 1px solid rgba(0, 0, 0, .125);

}
.button {
   background-color: #4CAF50; /* Green */
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   cursor: pointer;
   width: 100%;
   margin-top: 8px;
 }
 .button5 {background-color: #15161D;} /* Black */
.img-panier{
   width: 100px;
   position: relative;
   left: 50%;
   transform: translateX(-25%);
}
table{
   text-align: center;
}
table th {
   position: sticky;
   top: 0;
   z-index: 4;
   background: #fff;   
}
.fa-trash:hover{
   font-size: 22px;
}
.empty-container p{
   text-align: center;
   position: relative;
   top:10px;
}
#item-description{
   padding: 0;
   line-height: inherit;
   text-align: left;
   white-space: inherit;
   color: #0363cd;
   font-size: .820rem;
   font-weight: 450;
   margin: 5px;

}
#item-price{
   margin-bottom: .5rem;
   font-family: inherit;
   font-weight: 700;
   line-height: 1.1;
   color: #242424;
   font-size: 1rem;

   margin: 5px;
}
hr.style-one {
   border: 0;
   height: 1px;
   background: #333;
   background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
.quantity{
   display:flex;
   width:200px;
}

/* it will support chrome and firefox */
.quantity input[type=number]::-webkit-inner-spin-button,
.quantity input[type=number]::-webkit-outer-spin-button{
   -webkit-appearance:none;
}

.quantity input,.quantity button{
   width:20px;
   padding:.5em;
   font-size:1rem;
   text-align:center;
   font-weight:500;
   background:white;
   border:1px solid #aaa;
   height:50px;
}

.quantity input{
   border-left:none;
   border-right:none;
   width: 30px;
}
.no-items{
   margin: 12px;
   font-size: 0.85rem;
   font-weight: 500;
   line-height: 1.5;
   color: #212529;
   text-align: left;
   background-color: #fff;
}
.panier_text{
    font-size: 0.8rem;
    font-weight: 420;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}
#description-container{
    width: 100%;
    height: 100%;
}
#description-image,#description-description{
           width: 50%;
         text-align: left;
         padding: 20px;
}
#description-image{
    height: 80%;
    position: relative;
background:#f0f0f0;
}
#description-image img{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
    height: 60%;
    width: 50%;
} 

