/*
Colors:
	Body 		: #333
	Headers 	: #2B2D42
	Primary 	: #D10024
	Dark 		: #15161D ##1E1F29
    Grey 		: #E4E7ED #FBFBFC #8D99AE #B9BABC
    secondary-white :#eeeeee
        border: 1px solid rgba(0, 0, 0, .125);

 */
 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #333;

 }
 .logo{
width: 130px;
 }
#top-header{
background-color: #1E1F29;
font-size: 12px;
display: flex;
align-items: center;


}

#bottom-header{
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
}
.container{
    display: flex;
    margin-left:170px;
    margin-right:170px;
         
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
}
ul{
    display: flex;
    margin: 7px;
  list-style-type: none;  
  justify-content: space-between;
  
}
li{
    margin-left: 10px;
    margin-right: 10px;
   
}
a{
    text-decoration: none;
    color:#FFF ;
}
.fa{
    color:#D10024;
}
#main-header{
    background-color:#15161D;
height: 110px;
border-bottom: 2.5px solid #D10024;
display: flex;
align-items: center;
}

.header-search {
    padding: 15px 0px;
  }
  
  .header-search form {
    position: relative;
  }
  
  .header-search form .input-select {
    margin-right: -4px;
    border-radius: 40px 0px 0px 40px;
  }
  
  .header-search form .input {
    width: calc(100% - 260px);
    margin-right: -4px;
  }
  
  .header-search form .search-btn {
    height: 40px;
    width: 100px;
    background: #D10024;
    color: #FFF;
    font-weight: 700;
    border: none;
    border-radius: 0px 40px 40px 0px;
  }
  .input {
    height: 40px;
    padding: 0px 15px;
    border: 1px solid #E4E7ED;
    background-color: #FFF;
    width: 100%;
}
.input-select {
    padding: 0px 15px;
    background: #FFF;
    border: 1px solid #E4E7ED;
    height: 40px;
}
.header-search form .input-select {
    margin-right: -4px;
    border-radius: 40px 0px 0px 40px;
}
.input-select {
    padding: 0px 15px;
    background: #FFF;
    border: 1px solid #E4E7ED;
    height: 40px;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 15px;
    line-height: inherit;
}
.header-search form .search-btn {
    height: 40px;
    width: 100px;
    background: #D10024;
    color: #FFF;
    font-weight: 700;
    border: none;
    border-radius: 0px 40px 40px 0px;
}
#bottom-header{
   
        background: #FFF;
        border-bottom: 2px solid #E4E7ED;
      height: 55px;  
      color: #333;  
      display: flex;
}
.main-nav {
        align-items: center;
display: flex;}
.main-nav li a {
    color:#15161D;
    margin: 10px;
font-weight: 500;}
.main-nav li a:hover{
    color:#D10024;
    border-bottom: 2px solid;
}
.active{
    color:#D10024;

    border-bottom: 2px solid;
}
#footer{
    background-color: #1E1F29;
    height: 300px;
    border-top:2px solid #D10024 ;
    display: flex;
       
    justify-content: space-between;
}
.footer{
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color:#B9BABC;
    text-align: left;
    margin: 30px 0px;
    width: 33%;
    height: 80%;
}
.footer-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-links li{
    margin: 10px;
}
.footer-title{
    color: #FFF;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0px 0px 10px;
}
.footer p{
    margin-left: 10px;
}
.product-container{
     text-align: center;
    height: 400;
    width: 300px;
    border: 1px solid #ddd;
    margin: 40px;
    padding-left: 0;
    transition: 0.2s;
    position: relative;

}
.text {
    position: relative;
    border: 2px solid transparent;
    height: 40px;
    padding: 0 30px;
    font-size: 12px;
    background-color: #ef233c;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 40px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}
  
.product-container:hover{
    border: 3px solid #D10024;
}
.product-container:hover img {
    opacity: 0.3;
  }
  .product-container:hover .middle {
    opacity: 1;
  }
img{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 60%;
  }
  
p{
    text-transform: uppercase;
    font-size: 14px;
    color:#8D99AE;
}
h3{
    color: #2B2D42;
    font-weight: 700;
}
h2{
    font-weight: 700;
    font-size: 18px;
    color: #D10024;
}
#panier{
    height: 100vh;
    display: flex;
    padding: 30px;
    background-color: #eeeeee;
    
}
.right-container{
    
    height: 200px;
    width: 20%;
 margin: 10px;
 border: 1px solid rgba(0, 0, 0, .125);
 background-color: #FFF;
display:flex;flex-direction:column;justify-content:space-between;
padding: 10px;


}
.right-container h1 {
    font-size: 20px;
}
.left-container{
    height: 80vh;
    width: 80%;
    margin: 10px;
    background-color: #FFF;
        border: 1px solid rgba(0, 0, 0, .125);
        overflow: scroll;

}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 8px;
  }
  .button5 {background-color: #15161D;} /* Black */
.img-panier{
    width: 100px;
    position: relative;
    left: 50%;
    transform: translateX(-25%);
}
table{
    text-align: center;
}